body{
  background-color:lavender;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}

h5{
  background-color: #ddd;
  font-style: initial;
}

header{
  background-color: rgb(247, 212, 247);
}

header a{
  text-decoration: none;
  color: black;
}

.division{
  width: 1000px;
  height: 150px;
  margin: 0px;
}

.image{
  width: 100px;
  height: 100px;
  float: left;
}

.text{
  width: 850px;
  height: 150px;
  margin-left: 150px;
}

.name{
  text-align: center;
  font-size: 100px;
  color: black;
}

h2{
  background-color: #333333;
  color: #f2f2f2;
  padding: 14px 16px;
  padding-left: 40px;
}

h4{
  border-style: double;
  background-color: lavender;
}

footer {
  border-top: thin solid black;
  padding-top: 10px;
  color: #333333;
  font-style: italic;
  font-size: small;
}

footer a{
  text-decoration: none;
  color: #333333;
  padding-left: 5px;
}

#wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color:#333;
  box-shadow: 3px 3px 3px #333333;
  font-weight: bold ;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color:#f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:#ddd;
  color:black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
.topnav a, .topnav input[type=text] {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
  }
}

.topnav input[type=text] {
  border: 1px solid #ccc;
  }

.product h3{
  background-color:rgb(247, 212, 247);
  color:#333;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.row {
  display: flex;
  background-color:violet;
  padding-top: 1em;
  margin-bottom: 1em;
  box-shadow: 3px 3px 3px #333333;
  text-align: center;
}
  
.column {
  flex: 25%;
  padding: 5px;
  background-color:lavenderblush;
  padding-bottom: 2em;
  margin-bottom: 2em;
  box-shadow: 3px 3px 3px #333333;
}

.column a{
  text-decoration: none;
  color:blueviolet;
}

footer a{
  text-decoration: none;
  color: white;
  padding-left: 5px;
}

.footer-distributed{
	background: #444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

/* Footer left */
.footer-distributed .footer-left{
	float: left;
}

/* The company logo */
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Right */
.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */
.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover {
  opacity: 0.7;
  background-color: white;
  color: #000;
}
